[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "libs/libpqxx"]
	path = libs/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
